.pagenotfound-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenotfound-content {
    z-index: 1000;
    text-align: center;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: #fff; 
    box-shadow: 0 .25rem 0.75rem rgba(0, 0, 0, 0.1);
    width: 12.5rem;
    height: 7.5rem;
}

.pagenotfound-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333; 
}

.pagenotfound-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #666; 
}

.home-button {
    padding: 0.3rem .5rem;
    font-size: 1.1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #010c15bc; 
}


@media (min-width: 360px) {

}

@media (min-width: 480px) {
    .pagenotfound-content {
        width: 17.5rem;
    }
}

@media (min-width: 840px) {
    .pagenotfound-content {
        width: 25rem;
    }
}

@media (min-width: 1080px) {
    .pagenotfound-content {
        width: 30rem;
    }
}

@media (min-width: 1440px) {

}